@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400&display=swap');

:root{
    --white: #FFF;
    --gray: #7e7e7e;
    --gray-dark: #26282B;
    --black: #000;
    --yellow:#DF991B;
    overflow-x: hidden;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    
}

/*scroll bar*/
::-webkit-scrollbar {
    width: 0.3rem;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px var(--gray); 
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: var(--gray-dark); 
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: var(--gray-dark); 
}

hr {
    background-color: var(--white);
}

h1{
    color: var(--white);
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 500;
    line-height: 45px;
}

h2{
    color: var(--black);
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
    font-style: normal;
    font-weight: 500;
    line-height: 45px;
}

h3{
    color: var(--yellow);
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 45px;
}

.rounded-button{
    border-radius: 100px;
    border: 1px solid var(--black);
    background-color: transparent;
    cursor: pointer;
}

.rounded-button:hover{
    border-radius: 100px;
    border: 1px solid var(--black);
    background-color: var(--black);
    color: var(--white);
    transition: 1s;
}

.card{
    /* width: auto;
    height: 340px;
    margin: 0 3%; */
    height: 260px;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    overflow: hidden;
}

body{
    width: 100vw;
    height: 100vh;
}

body main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column; 
    background-image: url(./assets/mikail-cut.png);
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;

    /* opacity: 0.3; */
   /*  background-color: linear-gradient(90deg, #000 0%, #7E7E7E 100%);
    mix-blend-mode: overlay;   */
    /*  filter: grayscale(40%); */
}
/* body main::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: linear-gradient(270deg, #000 0%, #7E7E7E 100%);
    mix-blend-mode: multiply;
} */

/*header*/
body main header {
    width: 100%;
    padding: 6% 0 3%;
}

body main header nav{
    width: 100%;
    display: flex;
    justify-content: space-between; 
}

body main header nav .logo{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

body main header nav .logo .logo1{
    width: 55%;
}

body main header nav .logo .logo2{
    display: none;
}

body main header nav .options{
    width: 80%;
    display: flex;   
    justify-content: flex-end;
}

body main header nav .options .register,
body main header nav .options .idioms{
    display: none;
}

body main header nav .toggle{
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;

}
body main header nav .toggle img{
    width: 50%;
    cursor: pointer;
}

/*banner*/
body main .banner{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2% 5% 5%;
}

body main .banner .search{
    padding: 5% 0;
    display: flex;
    justify-content: flex-end;
    position: relative;
}

body main .banner .search input{
    width: 100%;
    padding: 5%;
    border-radius: 100px;
    border: 1px solid #FFF;
    background-color: transparent;
    outline: none;
}

body main .banner .search input::placeholder{
    color: var(--white);
    background-image: url(./assets/search.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size:contain;
}

body main .banner .search img{
    position: absolute;
    width: 20px;
    top: 22px;
    right: 120px;
}

body main .banner .title h1{
    padding: 0 0 8%;
}

body main .banner .title h3{
    color: var(--gray) !important;
}

body main .banner .title .rounded-button{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    border-color: var(--white) !important;
}

body main .banner .title .rounded-button:hover{
    background-color: var(--white) !important;
    color: var(--black) !important;
    transition: 1s;
}

body main .banner .title .rounded-button img{
    padding-right: 4%;
}

body main .banner .title .rounded-button p{
    font-size: 20px;
    font-style: normal;
    font-weight: 390;
    line-height: 45px;
}

/**/
body .sale{
    width: 100%;    
    padding: 5% 0;
    display: flex;
    flex-direction: column-reverse;
}

body .sale .cards{  
    width: 100%;
    overflow: hidden;
    display: grid;
    grid-template-columns:  1fr 0.5fr;
    gap: 5px;
}

body .sale .cards .card{
    display: flex;
    align-items: flex-end;
}

body .sale .cards .card.card1{
    background-image: url(./assets/daniel-barnes.png);
}

body .sale .cards .card.card2{
    background-image: url(./assets/derek-thomson.png);
}

body .sale .cards .card.card3{
    background-image: url(./assets/scott-lorsch.png);
} 

body .sale .cards .card .card-info{
    width: 100%; 
    height: 25%;
    display: flex;
    padding: 5%;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    color: var(--white);
}

body .sale .cards .card .card-info:hover{
    background-color: var(--white);
    transition: 1s;
}

body .sale .cards .card .card-info .country{
    color: var(--gray-dark);
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

body .sale .cards .card .card-info:hover > .country::before {
    content: url(./assets/castle.svg);
    display: inline-block;
    transform: scale(0.6);
    transition: 1s;
}

body .sale .cards .card .card-info .city{
    color: var(--black);
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
}

body .sale .description{ 
    padding: 5% 8%; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

body .sale .description .description-context{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
}

body .sale .description .description-paragraph{
    padding: 10% 0;
}

body .sale .description .description-paragraph p{
    font-weight: 300;
    line-height: 30px;
}

body .sale .description .description-arrows{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

body .sale .description .description-arrows:hover{
    color: var(--yellow);
}

body .sale .description .description-arrows .arrows{    
    display: none;
}

body .sale .description .description-arrows  .rounded-button{   
    width: 100%;
    margin: 5% 0;
    border: none;
    font-size: 15px;
    color: var(--yellow);
}

body .sale .description .description-arrows  .rounded-button:hover{
    background: none;
    transition: 1s;
}

body .sale .description .description-arrows  .rounded-button img{
    width: 8%;
}

/**/
body .rent{
    width: 100%;    
    padding: 5% 0;
    display: flex;
    flex-direction: column;
    
}
body .rent .cards{  
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: 1fr;
    gap: 5px;
}

body .rent .cards .card{
    display: flex;
    align-items: flex-end;
}

body .rent .cards .card.card1{
    background-image: url(./assets/lindsay.png);
}

body .rent .cards .card.card2{
    background-image: url(./assets/Maskgroup1.jpg);
}

body .rent .cards .card.card3{
    background-image: url(./assets/luxury-home.png);
}

body .rent .cards .card .card-info{
    width: 100%; 
    height: 25%;
    display: flex;
    padding: 5%;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    color: var(--white);
}

body .rent .cards .card .card-info:hover{
    background-color: var(--white);
    transition: 1s;
}

body .rent .cards .card .card-info .country{
    color: var(--gray-dark);
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

body .rent .cards .card .card-info .city{
    color: var(--black);
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
}


body .rent .description{
    padding: 5% 8%; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

body .rent .description .description-context{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
}

body .rent .description .description-paragraph{
    padding: 10% 0;
}

body .rent .description .description-paragraph p{
    font-weight: 300;
    line-height: 30px;
}

body .rent .description .description-arrows{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

body .rent .description .description-arrows:hover{
    color: var(--yellow);
}

body .rent .description .description-arrows .arrows{    
    display: none;   
}


body .rent .description .description-arrows  .rounded-button{  
    width: 100%;
    margin: 5% 0;
    border: none;
    font-size: 15px;
    color: var(--yellow);
}

body .rent .description .description-arrows  .rounded-button:hover{
    background: none;
}

body .rent .description .description-arrows  .rounded-button img{
    width: 8%;
}

/**/
body .development{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

body .development .title{
    padding: 5% ;
    text-align: center;
}

body .development .gallery{
    display: grid;
    grid-template-columns:  1fr;
    grid-template-rows: repeat(3, auto);
    overflow: hidden;
    gap: 5px;
}

body .development .gallery .card{
    width: 100%;
    display: flex;
    align-items: flex-end;
}


body .development .gallery .card .card-info{
    color: var(--white);
}
body .development .gallery .card .card-info:hover{
    width: 100%;
    background-color: var(--white);
}

body .development .gallery .card.card-1{
    background-image: url(./assets/dev1.png);
}

body .development .gallery .card.card-2{
    background-image: url(./assets/dev2.png);
}

body .development .gallery .card.card-3{
    background-image: url(./assets/dev3.png);
}

body .development .gallery .card.card-4{
    background-image: url(./assets/dev4.png);
}

body .development .gallery .card.card-4{
    background-image: url(./assets/dev4.png);
}

body .development .gallery .card.card-5{
    background-image: url(./assets/dev5.png);
}

body .development .gallery .card.card-6{
    background-image: url(./assets/dev6.png);
}

body .development .gallery .card.card-7{
    background-image: url(./assets/dev7.png);
}

body .development .gallery .card.card-8{
    background-image: url(./assets/dev8.png);
}

body .development .gallery .card.card-9{
    background-image: url(./assets/dev9.png);
}

/**/
body .blog{
    display: flex;
    flex-direction: column-reverse;
}

body .blog figure{
    position: relative;
    display: flex;
    align-items: center;
}

body .blog figure .imgfondo{
    width: 75%;
    top: 0;
    z-index: -1;
}

body .blog figure .imgfrente{
    position: absolute;
    width: 95%;
    right: 0;
}

body .blog .description{
    padding: 5% 8%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

body .blog .description .description-context{
    
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
}

body .blog .description .description-paragraph{
    padding: 10% 0;
}

body .blog .description .description-paragraph p{
    font-weight: 300;
    line-height: 30px;
}

body .blog .description .description-arrows{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

body .blog .description .description-arrows:hover{
    color: var(--yellow);
}

body .blog .description .description-arrows .arrows{    
    display: none;
   
}

body .blog .description .description-arrows  .rounded-button{     
    width: 100%;
    margin: 5% 0;
    border: none;
    font-size: 15px;
    color: var(--yellow);
}

body .blog .description .description-arrows  .rounded-button:hover{
    background: none;
}

body .blog .description .description-arrows  .rounded-button img{
    width: 8%;
}

/**/
footer{
    display: flex;
    flex-direction: column;

}

footer .newsletter{
    margin-top: 90% ;
    display: flex;
    flex-direction: column; 
}

footer .newsletter  .back{
    width: 100%;
    position: relative;
    height: 150px;
    background-color: var(--black);
    display: flex;
    justify-content: center;
}

footer .newsletter .back .front{
    width: 80%;
    position: absolute;
    top: -250px;
    background-color: var(--gray-dark);
}

footer .newsletter .back .front .title{
    padding: 5%;
}

footer .newsletter .back .front .title h2{
    width: 80%;
    color: var(--white);
    line-height: none;
}

footer .newsletter .back .front .form{
    display: flex;
    flex-direction: column;
    padding: 5%;
}

footer .newsletter .back .front .form label{
    color: var(--white);
    font-weight: 300;
    padding-bottom: 5%;
}

footer .newsletter .back .front .form input{
    width: 90%;
    padding: 5%;
    border-radius: 100px;
    border: 1px solid #FFF;
    background-color: transparent;
    outline: none;
}

footer .newsletter .back .front .form .rounded-button{     
    width: 100%;
    margin: 5% 0;
    border: none;
    font-size: 15px;
    color: var(--yellow);
}

footer .contact{
    height: auto;
    padding: 0 5%;
    background-color: var(--black);
    color: var(--white);
    font-weight: 300;
}

footer .contact .info{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 60px);
    grid-template-areas:
    "begin begin"
    "body1 body2"
    "final final" ;
    gap: 5%;
}

footer .contact .info .column1{
    grid-area: begin;
}

footer .contact .info .column2{
    grid-area: body1;
}

footer .contact .info .column3{
    grid-area: body2;
}

footer .contact .info .column4{
    grid-area: final;
}

footer .contact .social-media{
padding: 8% 0 5% 0;
}

footer .contact .social-media{
    /* position: fixed;
    top: 0;
    left: 0; */
    /* display: flex;
    flex-direction: column; */
}

footer .contact .social-media p{
    display: none;
}

footer .contact .social-media a{
    margin: 2%;
}

footer .contact .copywright{
    padding: 3%;
    display: flex;
    justify-content: center;
    font-size: 12px;
}
  
@media (min-width: 768px) /* and (max-width: 1024px) */ {

    

    body main header{
        padding: 3% 5% 2% 5%;
    }  
   
    body main header nav .logo{
        width: 25%;
    }

    body main header nav .logo .logo1{
        display: none;
    }

    body main header nav .logo .logo2{
        width: 100%;
        display: flex;
    }

    body main header nav .options{
    align-items: center;
    }

    body main header nav .options .register,
    body main header nav .options .idioms,
    body main header nav .options .line{
        display: flex;
        justify-content: space-around;
    }

    body main header nav .options .register,
    body main header nav .options .idioms{
        width: 25%;
        align-items: center;
    }

    body main header nav .options .register .line{
        border-left: solid 1px var(--white); 
        height: 20px;  
        margin: 0 8%; 
    }
    body main header nav .options .register a,
    body main header nav .options .idioms a{
        color: var(--white);
        cursor: pointer;
        font-size: 14px;
        font-style: normal;
        font-weight: 390;
        line-height: 45px
    }

    body main header nav .options .register a:hover,
    body main header nav .options .idioms a:hover{
        color: var(--black);
    }

    body main header nav .line{
        border-left: solid 1px var(--white);  
        height: 30px; 
        margin-right: 5%;
    }

    body main header nav .options .toggle{
        width: 5%;
    }

    body main header nav .options .toggle img{
        width: 100%;
    }

    body main .banner .search{
        padding: 2% 0;
    }

    body main .banner .search input{
        width: 45%;
        padding: 2%;
    }

    body main .banner .title h1 {
        padding: 0 0 5%;
    }

    body main .banner .title .rounded-button {
        width: 35%;
    }

    body .sale,
    body .rent,
    body .blog{
        flex-direction: row;
    }
    body .sale{
        padding-bottom: 0;
    }
    body .rent{
        padding: 0;
    }

    body .sale .description,
    body .sale .cards,
    body .rent .description,
    body .rent .cards,
    body .blog figure,
    body .blog .description{
        width: 50%;
        align-items: center;
    }

    body .sale .cards{
        grid-template-columns: 0.5fr 1fr 1fr ;
        gap: 8px;
    }
    
    body .rent .cards{
        grid-template-columns:  1fr 1fr 0.5fr;
        gap: 8px;
    }

    body .sale .description,
    body .rent .description,
    body .blog .description{
        padding: 5%;
    }

    body .sale .description .description-context,
    body .rent .description .description-context,
    body .blog .description .description-context{
    width: 100%;
}
    body .sale .description .description-arrows,
    body .rent .description .description-arrows,
    body .blog .description .description-arrows{
        width: 100%;
        justify-content: space-around;
    }

    body .sale .description .description-arrows .arrows,
    body .rent .description .description-arrows .arrows,
    body .blog .description .description-arrows .arrows{
        display: flex;
        border: none;
        background: none;
        display: flex;
        cursor: pointer;
        align-items: center; 
        justify-content: center;
    }

    body .sale .description .description-arrows .arrows img,
    body .rent .description .description-arrows .arrows img,
    body .blog .description .description-arrows .arrows img{
        padding: 0 15%;
        width: 55%;
    }

    body .sale .description .description-arrows .arrows p,
    body .rent .description .description-arrows .arrows p,
    body .blog .description .description-arrows .arrows p{
        font-size: 15px;
        font-weight: 300;
    }

    body .sale .description .description-arrows .arrows p:hover,
    body .rent .description .description-arrows .arrows p:hover,
    body .blog .description .description-arrows .arrows p:hover{
        color: var(--yellow);
    } 

    body .sale .description .description-arrows .rounded-button,
    body .rent .description .description-arrows .rounded-button,
    body .blog .description .description-arrows .rounded-button{
        width: 50%;
        border-radius: 100px;
        border: 1px solid var(--black);
        background-color: transparent;
        font-weight: 300;
        color: var(--black);
        padding: 4% 3%;
    }
    
    body .sale .description .description-arrows .rounded-button:hover,
    body .rent .description .description-arrows .rounded-button:hover,
    body .blog .description .description-arrows .rounded-button:hover{
        border-radius: 100px;
        border: 1px solid var(--black);
        background-color: var(--black);
        color: var(--white);
        font-weight: 300;
        transition: 1s;
    }

    body .sale .description .description-arrows .rounded-button img,
    body .rent .description .description-arrows .rounded-button img,
    body .blog .description .description-arrows .rounded-button img,
    footer .newsletter .back .front .form .rounded-button img{
        display: none;
    }

    body .development{
        padding-bottom: 8%;
    }
    body .development .gallery{
        grid-template-columns:  repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 15px;
    }

    footer .newsletter {
        margin-top: 25%;
    }
    
    footer .newsletter .back .front{
        display: flex;
        width: 90%;
        top: -150px;
    }

    footer .newsletter .back .front .title{
        width: 50%;
    }

    footer .newsletter .back .front .title h2 {
        width: 100%;
    }
    
    footer .newsletter .back .front .form{
        width: 50%;
    }

    footer .newsletter .back .front .form input {
        width: 100%;
    }

    footer .newsletter .back .front .form .rounded-button{
        width: 70%;
        align-self: flex-end;
        border-radius: 100px;
        border: 1px solid var(--yellow);
        background-color: transparent;
        font-weight: 300;
        padding: 5%;
    }
    
    footer .newsletter .back .front .form .rounded-button:hover{
        border-radius: 100px;
        border: 1px solid var(--white);
        background-color: var(--white);
        color: var(--black);
        font-weight: 300;
        transition: 1s;
    }

    footer .newsletter .back .front .form input:focus{
        color: var(--white);
    }

    footer .contact .info{
        grid-template-columns: 1.5fr 1fr 1fr 1.5fr;
        grid-template-rows: 80px ;
        grid-template-areas: "begin body1 body2 final"
    }

    footer .contact .info .column1,
    footer .contact .info .column2,
    footer .contact .info .column3,
    footer .contact .info .column4{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 30px);
    grid-template-areas: 
    "row1"
    "row2"
    "row3"
    "row4";
    }

    footer .contact .info .column1 div,
    footer .contact .info .column2 :first-child,
    footer .contact .info .column3 :first-child
    footer .contact .info .column4 :first-child{
        grid-area: row1;
    }

    footer .contact .info .column1 :nth-child(2){
        grid-area: row3;
    }

    footer .contact .info .column1 :nth-child(3),
    footer .contact .info .column3 :nth-child(3){
        grid-area: row4;
    }

    footer .contact .info .column4 :first-child{
        font-family: 'Times New Roman', Times, serif;
        font-weight: 200;
    }

    footer .contact .info .column4 :nth-child(2){
        font-family: 'Times New Roman', Times, serif;
        font-size: 24px;
        grid-area: row2;
    }
    footer .contact .info .column4 :nth-child(3){
        grid-area: row4;
    }
}


@media (min-width: 1024px){

    body main header {
        padding: 1% 0% 0.5% 7%;
    }

    body main header nav .logo {
        width: 20%;
    }

    body main header nav .options .register, 
    body main header nav .options .idioms {
        width: 21%;
    }

    body main .banner .search input {
        width: 35%;
        padding: 1.5%;
    }

    body main header nav .options .line{
        margin-right: 0;
    }
        
    body main header nav .options .toggle{
        width: 9%;
    }
        
    body main header nav .options .toggle img{
        width: 40%;
    }

    body main .banner{
        padding: 0% 7% 8% 7%;
    }

    body main .banner .title .rounded-button {
        width: 30%;
    }

    body .sale, 
    body .rent, 
    body .blog {
        padding: 2% 0%;
    }

    body .sale .description, 
    body .blog .description {
        padding: 2% 7% 2% 5%;
    }

    body .rent .description {
        padding: 2% 5% 2% 7%;
    }

    footer .newsletter {
    margin-top: 17%;
    }

    footer .contact .copywright {
        padding: 1.5%;
    }
}