@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400&display=swap');

:root{
    --white: #FFF;
    --gray: #7e7e7e;
    --gray-dark: #26282B;
    --black: #000;
    --yellow:#DF991B;

}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}
hr {
    background-color: var(--white);
  }
h1{
    color: var(--white);
    font-family: PF Regal Display Pro;
    font-size: 60px;
    font-style: normal;
    font-weight: 500;
    line-height: 45px;
}

h2{
    color: var(--black);
/*     text-align: center;
 */    font-family: PF Regal Display Pro;
    font-size: 60px;
    font-style: normal;
    font-weight: 500;
    line-height: 45px;
}

h3{
    color: var(--yellow);
/*     text-align: center;
 */    font-family: PF Regal Display Pro;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: 45px;
}
.rounded-button{
    border-radius: 100px;
    border: 1px solid var(--black);
    background-color: transparent;
}

.rounded-button:hover{
    border-radius: 100px;
    border: 1px solid var(--black);
    background-color: var(--black);
    color: var(--white);
}
.card{
    width: auto;
    height: 340px;
    margin: 0 3%;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
}


body{
    width: 100vw;
    height: 100vh;
}

body main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column; 
    background-image: url(./assets/mikail-cut.png);
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;

    /* opacity: 0.3; */
   /*  background-color: linear-gradient(90deg, #000 0%, #7E7E7E 100%);
    mix-blend-mode: overlay;   */
    /*  filter: grayscale(40%); */
}
/* body main::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: linear-gradient(270deg, #000 0%, #7E7E7E 100%);
    mix-blend-mode: multiply;
} */

/*header*/
body main header {
    padding: 2% 0;
}

body main header nav{
    display: flex;
    justify-content: space-between;
}

body main header nav .logo{
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

body main header nav .logo img{
    width: 60%;
}

body main header nav .options{
    width: 75%;
    display: flex;   
    justify-content: flex-end;
}

body main header nav .options .register,
body main header nav .options .idioms{
    width: 22%; 
    display: flex;  
    justify-content: flex-end;
    align-items: center;
    justify-content: center;
}

body main header nav .options .register a,
body main header nav .options .idioms a{
    color: var(--white);
    padding: 0 5%;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 390;
    line-height: 45px
}

body main header nav .options .register a:hover,
body main header nav .options .idioms a:hover{
    color: var(--black);
}

body main header nav .options .register .line{
    border-left: solid 1px var(--white); 
    height: 20px;  
    margin: 0 8%; 
}

body main header nav .options .idioms img{
    width: 16%;
    margin: 0 5%;
}

body main header nav .line{
    border-left: solid 1px var(--white);    
}

body main header nav .toggle{
    padding: 0 3%;
    display: flex;
}

/*banner*/
body main .banner{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2% 8% 10%;
}

body main .banner .search{
    display: flex;
    justify-content: flex-end;
    position: relative;
}
body main .banner .search input{
    width: 35%;
    padding: 1.5%;
    border-radius: 100px;
    border: 1px solid #FFF;
    background-color: transparent;
}

body main .banner .search input::placeholder{
    color: var(--white);
    background-image: url(./assets/search.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size:contain;
}

body main .banner .search img{
    position: absolute;
    width: 20px;
    top: 22px;
    right: 120px;
}

body main .banner .title h1{
    padding: 1% 0 5%;
}
body main .banner .title h3{
    color: var(--gray) !important;
}

body main .banner .title .rounded-button{
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: var(--white);
    border-color: var(--white) !important;
}

body main .banner .title .rounded-button:hover{
    background-color: var(--white) !important;
    color: var(--black) !important;
}

body main .banner .title .rounded-button img{
    padding: 2%;
}

body main .banner .title .rounded-button p{
    padding: 3%;
    font-size: 28px;
    font-style: normal;
    font-weight: 390;
    line-height: 45px;
}

/**/
body .sale{
    display: flex;
    width: 100%;
    padding: 5% 0;
}
body .sale .cards{
    width: 50%;
    overflow: hidden;
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr;
}

body .sale .cards .card{
    display: flex;
    align-items: flex-end;
    background-image: url(./assets/daniel-barnes.png);
}

body .sale .cards .card .card1{
    background-image: url(./assets/daniel-barnes.png);
}

body .sale .cards .card .card2{
    background-image: url(./assets/daniel-barnes.png);
}

body .sale .cards .card .card3{
    background-image: url(./assets/daniel-barnes.png);
}

body .sale .cards .card .card-info{
    width: 100%; 
    height: 25%;
    display: flex;
    padding: 5%;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    color: var(--white);
}

body .sale .cards .card .card-info:hover{
    background-color: var(--white);
    transition: 1s;
}

body .sale .cards .card .card-info .country{
    color: var(--gray-dark);
    font-family: PF Regal Display Pro;
    font-size: 20px;

}
body .sale .cards .card .card-info:hover > .country::before {
    content: url(./assets/castle.svg);
    display: inline-block;
    transform: scale(0.6);
}

body .sale .cards .card .card-info .city{
    color: var(--black);
    font-family: PF Regal Display Pro;
    font-size: 30px;
}


body .sale .description{
    width: 50%;
    padding: 0 5% 0 8%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
body .sale .description .description-context{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
}
body .sale .description .description-arrows{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}
body .sale .description .description-arrows:hover{
    color: var(--yellow);
}

body .sale .description .description-arrows .arrows{    
    border: none;
    background: none;
    display: flex;
    cursor: pointer;
    align-items: center;
}

body .sale .description .description-arrows .arrows img{
    padding: 0 15%;
    width: 55%;
}

body .sale .description .description-arrows .arrows p{
    font-size: 15px;
    font-weight: 300;
}
body .sale .description .description-arrows .arrows p:hover{
    color: var(--yellow);
}

body .sale .description .description-arrows  .rounded-button{
    padding: 3% 7%;
    font-size: 20px;
}
/**/
body .rent{
    display: flex;
    width: 100%;
    padding: 5% 0;
}
body .rent .cards{
    width: 50%;
    overflow: hidden;
    display: grid;
    grid-template-columns:  1fr 1fr 0.5fr;
}

body .rent .cards .card{
    display: flex;
    align-items: flex-end;
    background-image: url(./assets/daniel-barnes.png);
}

body .rent .cards .card .card1{
    background-image: url(./assets/daniel-barnes.png);
}

body .rent .cards .card .card2{
    background-image: url(./assets/daniel-barnes.png);
}

body .rent .cards .card .card3{
    background-image: url(./assets/daniel-barnes.png);
}

body .rent .cards .card .card-info{
    width: 100%; 
    height: 25%;
    display: flex;
    padding: 5%;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    color: var(--white);
}

body .rent .cards .card .card-info:hover{
    background-color: var(--white);
    transition: 1s;
}

body .rent .cards .card .card-info .country{
    color: var(--gray-dark);
    font-family: PF Regal Display Pro;
    font-size: 20px;

}

body .rent .cards .card .card-info .city{
    color: var(--black);
    font-family: PF Regal Display Pro;
    font-size: 30px;
}


body .rent .description{
    width: 50%;
    padding: 0 5% 0 8%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
body .rent .description .description-context{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
}
body .rent .description .description-arrows{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}
body .rent .description .description-arrows:hover{
    color: var(--yellow);
}

body .rent .description .description-arrows .arrows{    
    border: none;
    background: none;
    display: flex;
    cursor: pointer;
    align-items: center;
}

body .rent .description .description-arrows .arrows img{
    padding: 0 15%;
    width: 55%;
}

body .rent .description .description-arrows .arrows p{
    font-size: 15px;
    font-weight: 300;
}
body .rent .description .description-arrows .arrows p:hover{
    color: var(--yellow);
}

body .rent .description .description-arrows  .rounded-button{
    padding: 3% 7%;
    font-size: 20px;
}

/**/
body .development{
    display: flex;
    justify-content: center;
}

body .development .title{
    padding: 5% ;
    text-align: center;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}

body .development .gallery{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);

    
}


/**/
body .blog{
    display: flex;
}
body .blog figure{
    width: 60%;
}

body .blog .description{
    width: 40%;
    padding: 0 5% 0 3%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
body .blog .description .description-context{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
} 
body .blog .description .description-arrows{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}
body .blog .description .description-arrows:hover{
    color: var(--yellow);
}

body .blog .description .description-arrows .arrows{    
    border: none;
    background: none;
    display: flex;
    cursor: pointer;
    align-items: center;
}

body .blog .description .description-arrows .arrows img{
    padding: 0 15%;
    width: 55%;
}

body .blog .description .description-arrows .arrows p{
    font-size: 15px;
    font-weight: 300;
}
body .blog .description .description-arrows .arrows p:hover{
    color: var(--yellow);
}

body .blog .description .description-arrows  .rounded-button{
    padding: 3% 7%;
    font-size: 20px;
} 
    

/**/
footer{

}
footer .newsletter{
    background-color: var(--gray-dark);
    margin: 0 5%;
    display: flex;
    
}
footer .newsletter .title{
    width: 40%;
    display: flex;
    padding: 5%;
    background-color: var(--black);
    display: flex;
    flex-direction: column;
}
footer .newsletter .form{
    width: 60%;
    padding: 5%;
    display: flex;
    background-color: var(--black);
    flex-direction: column;

}
footer .contact{
    background-color: var(--black);
    position: sticky;
    top: 250px;
}

